__pycache__/
*.csv
data/
figures/*
# Okay to post simulated data
!figures/gg_roc_gt.png
!figures/gg_thresh_power.png
!figures/gg_power_margin.png
!figures/gg_cover_bs.png
!figures/gg_power_calib.png
!figures/gg_roc_dist_skew.png
!figures/gg_roc_process.png
